/**
* Tooltips For Squarespace 
* Copyright Will-Myers.com & Abi Bacon
* Development Lead, Abi Bacon
**/

span[data-wm-plugin="tooltip"].tooltip-parent {
  text-decoration: var(--tt-underline, underline);
  text-decoration-style: var(--tt-underline-style, dotted);
  text-decoration-thickness: var(--tt-underline-thickness,.08em);
  text-underline-offset: var(--tt-underline-offset,2px);
}

span[data-wm-plugin="tooltip"].tooltip-parent:has(.wm-tooltip-icon) {
  text-decoration: none;
}

h1 [data-wm-plugin="tooltip"].tooltip-parent,
h2 [data-wm-plugin="tooltip"].tooltip-parent,
h3 [data-wm-plugin="tooltip"].tooltip-parent,
h4 [data-wm-plugin="tooltip"].tooltip-parent {
  color: var(--tt-parent-color, var(--headingLinkColor));
}

p [data-wm-plugin="tooltip"].tooltip-parent {
  color: var(--tt-parent-color, var(--paragraphLinkColor));
}

[data-wm-plugin="tooltip"] .wm-tooltip-icon svg {
  height: var(--tt-icon-size, 14px);
  width: var(--tt-icon-size, 14px);
  stroke: var(--tt-icon-color, var(--paragraphMediumColor));
  color: var(--tt-icon-color, var(--paragraphMediumColor));
}

[data-wm-plugin="tooltip"] .wm-tooltip-content {
  padding: var(--tt-padding, 7px);
  text-align: var(--tt-text-align, start);
}

[data-wm-plugin="tooltip"] .wm-tooltip-box.tippy-box {
  color: var(--tt-text-color, var(--paragraphMediumColor));
  font-size: var(--tt-font-size, 1rem);
  font-family: var(--tt-font-family, var(--body-font-font-family));
  font-weight: var(--tt-font-weight, 400);
  background: var(--tt-background-color, var(--siteBackgroundColor));
  border-radius: var(--tt-border-radius, 7px);
  border-color: var(--tt-border-color, white);
  border-style: var(--tt-border-style, solid);
  border-width: var(--tt-border-width, 0px);
  max-width: var(--tt-max-width, 350px) !important;
}

.wm-tooltip-box.tippy-box[data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--tt-background-color, var(--siteBackgroundColor));
}
.wm-tooltip-box.tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: var(--tt-background-color, var(--siteBackgroundColor));
}
.wm-tooltip-box.tippy-box[data-placement^="left"] > .tippy-arrow::before {
  border-left-color: var(--tt-background-color, var(--siteBackgroundColor));
}
.wm-tooltip-box.tippy-box[data-placement^="right"] > .tippy-arrow::before {
  border-right-color: var(--tt-backgorund-color, var(--siteBackgroundColor));
}

.form-item legend .tooltip-parent {
  display: flex !important;
}

[data-wm-plugin="tooltip"] .wm-tooltip-content img {
  width:100%;
  max-height: 250px;
  object-fit: cover;
  display: block;
}

[data-wm-plugin="tooltip"] .wm-tooltip-content a {
  text-decoration: underline;
}
